<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbrg5Vwwo9PzR5GNXNLvgnTuYAjbgyYL0</string>
	<key>GCM_SENDER_ID</key>
	<string>393006062211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.flutter.footymates</string>
	<key>PROJECT_ID</key>
	<string>footy-mates</string>
	<key>STORAGE_BUCKET</key>
	<string>footy-mates.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393006062211:ios:6aeec5558f9839d2a719b6</string>
</dict>
</plist>